.options .optionBtn {
    padding: 10px 30px;
    border-radius: 8px;
    margin-right: 12px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.192);
    color: white;
    transition: all 300ms;
    opacity: 80%;
    margin-bottom: 10px;
}
.options .optionBtn:hover {
    background-color: var(--green);
    opacity: 100%;
}
.options .btnactive {
    background-color: var(--green);
    color: white;
    opacity: 100%;
}







.CreateFoodBody.CreateBody, .modal .foodModalBody {
    width: 100%;
    display: flex;
    align-items: normal;
    justify-content: space-between;
    margin: 30px 0;
}
.CreateBody .black, .modal .black {
    background-color: var(--green);
    width: 4px;
    border-radius: 8px;
}
.CreateBody .Content, .modal .Content {
    width: 100%;
    padding: 20px 40px;
}


.foodBody {
    display: inline-flexbox;
    text-align: center;
}
.foodBody .foodItem {
    width: 14%;
    display: inline-block;
    text-align: center;
    background-color: #15e886d1;
    margin: 20px 10px;
    padding: 10px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    border: 2px solid transparent;
}
.foodBody .foodItem:hover {
    border-color: var(--green);
    background: none;
    color: var(--green);
}
.foodItem .foodImage {
    width: 60%;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}
.foodItem h1 {
    font-size: 20px;
    font-weight: bold;
}
.foodItem .foodItemBody {
    text-align: left;
    margin: 0 20px;
    margin-top: 10px;
}



.Food .modal .close {
    position: absolute;
    top: 15%;
    right: 18%;
    font-size: 40px;
    color: white;
}
.Food .foodModal {
   background-color: white;
   min-width: 40%;
   border-radius: 8px;
   padding: 20px 30px;
}
.modal .hr {
    margin: 0;
}
.Food .foodModal .modalImage {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.Food .foodModal .foodModalRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.Create .image {
    transition: all 300ms;
    margin-bottom: 30px;
    border-color: var(--green);
}
.Create .image:hover {
    background-color: #15e8860d;
    color: var(--green);
}

.Create .image-input {
    border-radius: 8px;
    overflow: hidden;
}
.Create .image-input img {
    width: 50%;
    margin: 0px auto;
    margin-bottom: 20px;
}



@media only screen and (max-width: 500px) {
    .options {
        display: flex;
        align-items: center;
        overflow-x: scroll;
    }
    .options::-webkit-scrollbar {
        display: none;
    }
    .options .optionBtn {
        margin-bottom: 0;
    }




    .CreateFoodBody {
        padding-bottom: 50px;
    }
    .CreateFoodBody.CreateBody, .modal .foodModalBody {
        display: inline-block;
        margin: 0;
        position: relative;
    }
    .CreateBody .Content, .modal .Content {
        width: 100%;
        padding: 0;
    }

    .CreateFoodBody .CreateBtn {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
        left: 0;
    }





    .foodBody {
        margin: 0;
        padding: 0;
    }
    .foodBody .foodItem {
        display: inline-block;
        width: 25%;
    }
    
    
    
    .Food .modal .close {
        top: 4%;
        right: 4%;
        color: var(--black);
    }
    .Food .foodModal {
       width: 100vw;
       border-radius: 0;
       height: 100vh;
    }
    .Food .foodModal .modalImage {
        width: 40%;
        margin: 20px auto;
    }
    .Food .foodModal .foodModalRow {
        margin: 0 30px;
    }
}

@media only screen and (max-width: 1000px) {
    .Food .modal .close {
        top: 4%;
        right: 4%;
    }
}