.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #2a2c2b44;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal .modalBody {
    background-color: white;
    width: 60%;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    height: 50vh;
}
.modal .modalBody h1 {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold;
}



.modal .line {
    text-align: left;
}
.UpdateModal .modalBody {
    height: 90vh;
    overflow-y: scroll;
}
.modal .line.image {
    width: 100px;
    margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
    .modal .modalBody {
        width: 40%;
    }
}

@media only screen and (max-width: 500px) {
    .modal .modalBody {
        width: 90%;
    }
}
