.Home .boxes{
    display: flex;
}
.Home .boxe{
    flex:1;
    border-radius: 8px;
    min-height: 100px;
    margin: 0 10px;
    background-color: #0bf186b1;
    padding: 20px 40px;
    display: flex;
    color: white;
    align-items: center;
}
.Home .boxImage {
    width: 30%;
    margin-right: 20px;
    align-items: center;
}
.Home .boxe h1 {
    font-size: 24px;
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
    .Home .boxes{
        display: inline;
    }
    .Home .boxe{
        flex: auto;
        margin: 0 2%;
        margin-bottom: 20px;
        padding: 20px 30px;
        width: 46%;
        display: inline-block;
    }
    .Home .boxImage {
        width: 40%;
        margin: 0 auto;
    }
}