.Navigation {
    background-color: white;
    width: 16%;
    position: fixed;
    height: 100%;
    padding: 10px 0;
    top: 0;
    left: 0;
}
.Navigation .close {
    display: none;
}
.logo {
    width: 60%;
    margin: 0 auto;
}
img {
    width: 100%;
    height: 100%;
}

.Navigation .pagesList {
    display: grid;
    margin: 20px auto;
    width: 80%;
}
.Navigation .pagesList .link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 8px;
    color: var(--black);
    padding: 10px 20px;
    transition: all 300ms;
    opacity: 80%;
}
.Navigation .pagesList .link:hover {
    opacity: 100%;
    color: var(--green);
}
.Navigation .pagesList .active {
    background-color: var(--green);
    color: white;
    opacity: 100%;
}
.Navigation .pagesList .active:hover {
    color: white;
}
.Navigation .link .icon {
    font-size: 20px;
    margin-right: 10px;
}



.profileLink {
    position: absolute;
    background-color: var(--green);
    height: 60px;
    width: 100%;
    bottom: 20px;
    left: 20px;
    width: 80%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
}
.profileLink .profileImg {
    width: 30%;
    margin-right: 10px;
}



.NavigationM {
    position: fixed;
    top: 35px;
    right: 10px;
    border-radius: 8px;
    padding: 10px;
    font-size: 30px;
    display: flex;
    background-color: white;
    transition: all 300ms;
}
.NavigationM:hover {
    background-color: var(--green);
    color: white;
}

@media only screen and (max-width: 1000px) {
    .Navigation {
        width: 30%;
        padding: 10px 20px;
    }
    .Navigation .close {
        display: none;
    }
    .logo {
        width: 60%;
    }
    .Navigation .pagesList {
        width: 100%;
    }
    
    .profileLink {
        width: 85%;
    }
    .profileLink .profileImg {
        width: 15%;
    }
}

@media only screen and (max-width: 500px) {
    .Navigation {
        width: 100%;
        padding: 10px 40px;
    }
    .Navigation .close {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 20px;
        display: inline;
        font-size: 40px;
        opacity: 60%;
        transition: all 300ms;
    }
    .Navigation .close:hover {
        opacity: 100%;
    }
    .logo {
        width: 40%;
    }
    .Navigation .pagesList {
        width: 100%;
    }
    
    .profileLink {
        width: 90%;
    }
    .profileLink .profileImg {
        width: 15%;
    }
}