.UserDetailsPage {
    display: flex;
    align-items: unsafe;
    padding-right: 20px;
}
.userData {
    width: 60%;
    margin: 0 20px;
    padding: 10px;
    background-color: white;
    border-radius: 16px;
    min-height: 100vh;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 16%;
    height: 100%;
    width: 32%;
}
.userData .profileImg {
    width: 30%;
    margin: 0 auto;
}
.userData .user {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.row h1 {
    font-weight: bold;
}


.userCharts {
    background-color: white;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px 40px;
    margin-left: 42%;
}
.userCharts .userChart h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}
.userChart {
    margin-bottom: 100px;
}
.userChart div {
    width: 80%;
    margin: 0 auto;
}



/* ********* CREATE USER ********* */

.CreateBody {
    width: 40%;
    margin: 0 auto;
    padding: 10px;
}
.hr {
    height: 3px;
    background-color: var(--green);
    margin-bottom: 50px;
}
.line {
    display: grid;
    margin-bottom: 30px;
}
.line label {
    font-size: 18px;
    font-weight: bold;
}
.line input, textarea {
    margin-top: 4px;
    border: 2px solid var(--green);
    border-radius: 8px;
    outline: none;
    padding: 10px 20px;
}


.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.list .listItem {
    flex: 1;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list .listItem span {
    margin-left: 20px;
    color: var(--green);
    font-size: 24px;
}
.list .listItem.active {
    background-color: var(--green);
    color: white;
}
.line select, .linee select {
    border: 2px solid var(--green);
    border-radius: 8px;
    padding: 10px 10px;
    outline: none;
}


@media only screen and (max-width: 500px) {
    .CreateBody {
        width: 100%;
    }
    
    
    .list {
        width: 80%;
    }



    .UserDetailsPage {
        display: table;
        padding-right: 0px;
        width: 100%;
    }
    .userData {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    
    .userCharts {
        border-radius: 0px;
    }
}